<section class="p-3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="image-layout p-4">
                    <img src="../../../../../../../assets/Images/book.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mx-auto w-75 mt-5 position-relative">
                    <h3 class="fs-1 fw-semibold pb-4 text-capitalize ysabeau-infant">Featured book</h3>
                    <small class="text-muted pt-2">By Timbur Hood</small>
                    <h4 class="my-4 text-capitalize ysabeau-infant fw-bold">Birds gonna be happy</h4>
                    <p class=" my-2">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, magnam consectetur modi vitae
                        eos totam nostrum voluptatibus ipsa voluptas ad qui excepturi assumenda neque quasi optio.
                    </p>
                    <span class="fw-semibold">45.00 $</span>
                    <div class="mt-5 text-center d-flex align-items-center">
                        <button mat-stroked-button color="primary" class="me-1 p-3">View More</button>
                        <mat-icon aria-hidden="false" fontIcon="arrow_right_alt" color="primary"></mat-icon>
                    </div>
                </div>
                <div>

                </div>

            </div>
        </div>
    </div>
</section>