<div class="form-auth mt-3">
    <h6 class="text-muted">Welcome back!</h6>
    <h4>Reset Your Password Now !</h4>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordForm(resetPasswordForm)">
        <div class="mt-4">
            <mat-form-field class=" w-100">
                <mat-label>OTP</mat-label>
                <input matInput type="text" required formControlName="otp">
            </mat-form-field>

            <mat-form-field class=" w-100">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" required formControlName="email">
            </mat-form-field>

            <mat-form-field class="w-100">
                <mat-label>Enter your new password</mat-label >
                <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password"> 
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" >
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>


            <div class="text-center mx-auto">
                <button mat-raised-button class="w-100" color="warn">Submit</button>
            </div>
        </div>
    </form>
</div>