<section class="landing">
    <div class="container">
        <div class="row justify-content-between align-items-center h-100">
            <div class="col-md-6">
                <h1 class="mainColor fw-semibold text-capitalize">ipsum dolor si</h1>
                <p class="mainColor">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim
                    pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis urna, a eu.
                </p>
                <button class="btn btn-outline-primary text-uppercase px-4">
                    Read More <i class="fa-solid fa-arrow-right ms-3"></i>
                </button>
            </div>
            <div class="col-md-6">
                <div class="landingImageContainer">
                    <img src="../../../../../assets/Images/Mask Group.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<app-categories></app-categories>
<app-new-release></app-new-release>
<app-featured-book></app-featured-book>
<!-- 
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1">
        </button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" *ngFor="let book of allBooks; let i = index;">
            <div class="container">
                <div class="row justify-content-between align-items-center h-100">
                    <div class="col-md-6">
                        <h1 class="mainColor fw-semibold text-capitalize">ipsum dolor si</h1>
                        <p class="mainColor">
                            {{book.description}}
                        </p>
                        <button class="btn btn-outline-primary text-uppercase px-4">
                            Read More <i class="fa-solid fa-arrow-right ms-3"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="landingImageContainer">
                            <img src="../../../../../assets/Images/Mask Group.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->