<div class="form-auth mt-3">
    <h6 class="text-muted">Welcome back!</h6>
    <h4>Forget Password !!</h4>

    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmitForget(forgetPasswordForm)">
        <div class="w-75">

            <mat-form-field class="mt-1 w-100">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" required formControlName="email">
            </mat-form-field>

            <div class="text-center mx-auto mt-4">
                <button mat-raised-button class="w-100" color="warn"
                    [disabled]="forgetPasswordForm.status==='INVALID'">Send</button>

            </div>
        </div>
    </form>
</div>
